{
	"printWidth": 120,
	"proseWrap": "always",
	"singleQuote": true,
	"semi": false,
	"bracketSpacing": true,
	"parser": "babel",
	"trailingComma": "none",
	"overrides": [
		{
			"files": [
				"*.ts",
				"*.tsx"
			],
			"options": {
				"parser": "typescript"
			}
		},
		{
			"files": "*.md",
			"options": {
				"parser": "markdown"
			}
		},
		{
			"files": "*.mdx",
			"options": {
				"printWidth": 160,
				"parser": "mdx"
			}
		},
		{
			"files": "*.yml",
			"options": {
				"parser": "yaml"
			}
		},
		{
			"files": "*.json",
			"options": {
				"parser": "json",
				"printWidth": 80
			}
		},
		{
			"files": "*.css",
			"options": {
				"parser": "css"
			}
		}
	]
}
